.main-sect {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-pack:center;
    justify-content:center;
    padding-top:50px;
    padding-bottom:50px;
    margin:0 auto;
}

@media (min-width: 750px) {

    .main-sect {
        max-width: 1000px;
    } 

}